<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lskar.librarysystem.mapper.BookMapper">

    <update id="updateBookById">
        UPDATE book SET
        <if test="title != null">
            title = #{title},
        </if>
        <if test="author != null">
            author = #{author},
        </if>
        <if test="publisher != null">
            publisher = #{publisher},
        </if>
        <if test="category != null">
            category = #{category},
        </if>
        <if test="publishDate != null">
            publish_date = #{publishDate},
        </if>
        <if test="price != null">
            price = #{price},
        </if>
        <if test="summary != null">
            summary = #{summary},
        </if>
        <if test="admin_id != null">
            admin_id = #{admin_id},
        </if>
        <if test="statusEnum != null">
            status = #{statusEnum},
        </if>
    </update>

    <insert id="insertBook">
        INSERT INTO book (book_id,title, author, publisher, category, publish_date, price, summary, admin_id, status)
 VALUES (#{bookId},#{title}, #{author}, #{publisher}, #{category}, #{publishDate}, #{price}, #{summary}, #{admin_id}, #{statusEnum});
    </insert>

    <delete id="deleteBookByIds">
        DELETE FROM book WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectBookById" resultType="org.lskar.librarysystem.entity.Book">
        SELECT * FROM book WHERE id = #{id}
    </select>

    <select id="selectBookBy" resultType="org.lskar.librarysystem.entity.Book">
        SELECT * FROM book
     <where>
         <if test="title != null">
             title LIKE CONCAT('%', #{title}, '%')
         </if>
     <if test="author != null">
         AND author LIKE CONCAT('%', #{author}, '%')
     </if>
     <if test="category != null">
         AND category LIKE CONCAT('%', #{category}, '%')
     </if>
     <if test="statusEnum != null">
         AND statusEnum = #{statusEnum}
     </if>
     </where>
    </select>


</mapper>