<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lskar.librarysystem.mapper.BookMapper">

    <update id="updateBookById">
        UPDATE Book
        <set>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="author != null and author != ''">
            author = #{author},
        </if>
        <if test="publisher != null and publisher != ''">
            publisher = #{publisher},
        </if>
        <if test="category != null and category != ''">
            category = #{category},
        </if>
        <if test="publishDate != null and publishDate != ''">
            publish_date = #{publishDate},
        </if>
        <if test="price != null and price != ''">
            price = #{price},
        </if>
        <if test="summary != null and summary != ''">
            summary = #{summary},
        </if>
        <if test="adminId != null and adminId != ''">
            admin_id = #{adminId},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        </set>
        where book_id = #{bookId}
    </update>

    <insert id="insertBook">
        INSERT INTO book (book_id,title, author, publisher, category, publish_date, price, summary, admin_id, status)
 VALUES (#{bookId},#{title}, #{author}, #{publisher}, #{category}, #{publishDate}, #{price}, #{summary}, #{adminId}, #{status});
    </insert>

    <delete id="deleteBookByIds">
        DELETE FROM book WHERE book_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectBookById" resultType="org.lskar.librarysystem.entity.Book">
        SELECT * FROM book WHERE book_id = #{id}
    </select>

    <select id="selectBookBy" resultType="org.lskar.librarysystem.entity.Book">
        SELECT * FROM book
        <where>
            <if test="title != null">
                title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="author != null">
                AND author LIKE CONCAT('%', #{author}, '%')
            </if>
            <if test="category != null">
                AND category LIKE CONCAT('%', #{category}, '%')
            </if>
            <if test="statusEnum != null">
                AND status = #{statusEnum}
            </if>
            <if test="begin != null and end != null and begin != '' and end != ''">
                AND publish_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
    </select>


</mapper>