<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lskar.librarysystem.mapper.ReaderMapper">


    <select id="selectReaderById" resultType="org.lskar.librarysystem.entity.Reader">
        SELECT *
        FROM Reader
        WHERE user_id = #{id}
    </select>

    <insert id="insertReader">
        INSERT INTO Reader (user_id, name, password, gender, enroll_date, user_type, borrow_limit)
        VALUES (#{userId}, #{name}, #{password}, #{gender}, #{enrollDate}, #{userType}, #{borrowLimit})
    </insert>

    <update id="updateReader">
        UPDATE reader
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="password != null">password = #{password},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="enrollDate != null">enroll_date = #{enrollDate},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="borrowLimit != null">borrow_limit = #{borrowLimit},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteReaderById">
        DELETE
        FROM reader
        WHERE user_id = #{id}
    </delete>

    <select id="selectAllReader" resultType="org.lskar.librarysystem.entity.Reader">
        SELECT *
        FROM reader
    </select>

    <select id="selectReaderByIdAndPassword" resultType="org.lskar.librarysystem.entity.Reader">
        SELECT user_id,name
        FROM reader
        WHERE user_id = #{userId}
          AND password = #{password}
    </select>


</mapper>